:not(.CanvasZone--fullWidth).CanvasZone .ControlZone {
  padding:0px !important;
}
#contentRow .ms-WPBorder {
  border: 0px !important;
}
#contentRow .ms-WPBody, #contentRow .ms-wpContentDivSpace, .ms-SafeWPBody {
  
  background-color: transparent !important;
}
